@font-face {
  font-family: 'Jenna Sue';
  src: url('/fonts/JennaSue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Jenna Sue', sans-serif;
}

@font-face {
  font-family: 'Mulish-Regular';
  src: url('/fonts/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url('/fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Mulish', sans-serif;
}

